.bar
{
    position: absolute;
    z-index: 44;
    left:0;
    bottom: 0;
}

.bar > div
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: white;
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
    paint-order: stroke fill;
    margin: 5px 0;
}